.error {
  color: red;
}

#app {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

#new-review {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#new-review .form-item {
  list-style-type: none;

  max-width: 25%;
  margin-bottom: 1.5rem;

  display: flex;
  flex-flow: column wrap;
}

#new-review .form-item label {
  margin-bottom: 0.2rem;
}

#new-review textarea {
  resize: none;
}

#new-review .error {
  margin-top: 0.75rem;
}

#reviews .review-items {
  display: flex;
  flex-flow: row wrap;
}

#reviews .review-item {
  list-style-type: none;

  margin-right: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;

  border: 0.1rem solid black;
  box-shadow: 0.1rem 0.1rem;

  overflow-wrap: break-word;
}

#reviews .title {
  margin-bottom: 1rem;
  text-decoration: underline;
}
